@import "_common.scss";

html, body {
    margin : 0;
    padding : 0;

    width : 100%;
    height : 100%;
}

@mixin fill {
    width : 100%;
    height : 100%;
}

#logo {
    cursor : pointer;
}

.window-container {
    @include fill;

    display : grid;
    grid-template-areas : "content sidebar output";
    grid-template-columns : 1fr 75px 1fr;
}

#titlebar {
    width : 100%;

    background-color : $black;
    color : $white;
    
    font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;

    * {
        display : inline;
    }

    p {
        font-size : 1.5em;
        font-weight : 100;

        &:first-child {
            font-weight : 900;
            padding-left : 5px;
        }
    }
}

#editorwindow {
    grid-area : "content";

    width : 100%;
    height : 100%;

    background-color : $dark;
    color : $white;
}

#sidebar {
    grid-area : "sidebar";
    background-color : $dark-alt;
    color : $white;

    button {
        width : 100%;

        border-bottom : 1px solid gray;
        background-color : $light;
        font-size : 0.8em;
    }
}

#outputWindow {
    width : 100%;
    height : 100%;

    grid-area : "output";

    background-color : $white;

    color : $black;
    font-family : 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;

    h1 {
        border-bottom : 1px solid gray;
        padding : 0 10px 0 10px;
    }

    h1, h2, h3, h4, h5, h6 {
        text-align : center;
        padding : 0;
    }
}

.floating-label {
    display : relative;
    right : 10px;
    top : 10px;

    transform : rotate(90deg);

    z-index : 2;

    padding : 0;
    margin : 0;
    
    font-size : $floating-label-size;
    color : $light;
}