$white : #ffffff;
$light : #f5f5f5;
$light-alt : #f7f7f7;
$black : #000000;
$dark : #242424;
$dark-alt : #3d3d3d;

html, body {
    margin : 0;
    padding : 0;

    width : 100%;
    height : 100%;
}

@mixin fill {
    width : 100%;
    height : 100%;
}

.window-container {
    @include fill;

    display : grid;
    grid-template-areas : "content sidebar";
    grid-template-columns : 1fr 50px;
}

#editorwindow {
    grid-area : "content";

    width : 100%;
    height : 100%;
}

#sidebar {
    grid-area : "sidebar";
    background-color : $light;

    * {
        width : 100%;

        &:hover {
            background-color : $light-alt;
            display : block;
        }
    }

    #indent {
        font-size : 3em;
    }
}