@import "_common.scss";

html, body {
    margin : 0;
    padding : 0;

    width : 100%;
    height : 100%;
}

@mixin fill {
    width : 100%;
    height : 100%;
}

.window-container {
    @include fill;

    display : grid;
    grid-template-areas : "content sidebar output";
    grid-template-columns : 1fr 50px 1fr;
}

#editorwindow {
    grid-area : "content";

    width : 100%;
    height : 100%;

    background-color : $dark;
    color : $white;
}

#sidebar {
    grid-area : "sidebar";
    background-color : $dark-alt;
    color : $white;

    * {
        width : 100%;
        font-size : $sidebar-button;

        &:hover {
            background-color : $light-alt;
            display : block;
        }
    }
}

#outputWindow {
    width : 100%;
    height : 100%;

    grid-area : "output";

    background-color : $white;

    color : $black;
}

.floating-label {
    display : relative;
    right : 10px;
    top : 10px;

    transform : rotate(90deg);

    z-index : 2;

    padding : 0;
    margin : 0;
    
    font-size : $floating-label-size;
    color : $light;
}