@import "_common.scss";

body, html {
    padding : 0;
    margin : 0;
    width : 100%;
    height : 100%;

    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    width : 100%;
    height : 100%;

    display : grid;
    grid-template-areas: "landing oldNotes";
    grid-template-columns: 75% 25%;
}

.new-controls {
    grid-area : "landing";

    width : 100%;
    height : 100%;

    .innercontainer {
        margin-right : 5em;
        margin-left : 5em;
    }
}

.prevControls {
    grid-area : "oldNotes";

    border-left : 0.2em solid black;

    width : 100%;
    height : 100%;
}

.title-container {
    width : 100%;

    * {
        text-align: center;
    }

    h1 {
        padding-top : 2.5em;
        font-size : 4em;
        color : $dark;
    }

    h2 {
        font-size : 2em;
    }
}

#button-container {

    @mixin button-styling {
        border : 0.10em solid $black;
        font-size : 1.5em;
        font-family: 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
        margin-top : 0.5em;
        padding : 0.05em 0 0.15em 0;
        text-align : center;
        text-decoration : none;
        color : $black;
    }

    padding : 0 20vw 0 20vw; 

    button {
        @include button-styling;
        background-color : #ffffff;
        width : 100%;
    }

    * {
       display : block;
       
    }

    a  {
        @include button-styling;
    }
}

#notecontainer {
    display : none;
    margin-top : 2em;
    border : 0.1em solid $black;
    padding : 1em;

    * {
        font-family: $standard-font-stack-bold;
        font-size : 1.5em;
    }

    .flex-container {
        display : flex;
    }

    p {
        flex : 1;
    }

    input {
        border : 0;
        border-bottom : 0.25em solid black;
        flex : 4;
    }

    button {
        flex : 1;
        background-color : $white;
        color : $black;
    }
}

.oldNote {

    border : 0.05em solid black;
    padding : 0.5em;
    margin : 0.9em;

    .contentPreview {
        overflow : hidden;
    }

    .noteTitle {
        font-size : 2em;
        text-align : center;
        border-bottom : 0.05em solid $dark;
    }

    .lrcontainer {
        display : flex;

        * {
            text-align : center;
        }

        .dateCreated {
            flex : 1;
        }

        .linesCount {
            flex : 1;
        }
    }

    button {
        width : 100%;
    }
}