@import "_common.scss";

@mixin fill {
    width : 100%;
    height : 100%;
}

html, body {
    @include fill;

    margin : 0;
    padding : 0;
}

.settings-container {
    @include fill;
    
    background-color : $dark;
    color : $white;
}

