@import "../../scss/common";

@mixin fill {
    width : 100%;
    height : 100%;
}

html, body {
    @include fill;

    padding : 0;
    margin : 0;
}


.lrcontainer {
    @include fill;

    width : 100%;
    height : 100%;

    display : grid;
    grid-template-areas: "left right";
    grid-template-columns: 75% 25%;
}

.left {
    @include fill;

    grid-area: "left";

    height : 100%;
    width : 100%;
}


.right {
    @include fill;

    grid-area: "right";

    background-color : $dark;
}