@import "../../scss/common";

html, body {
    padding : 0;
    margin : 0;

    width : 100%;
    height : 100%;
}

#editorwindow {
    border : 0;
    border-right : 2px solid $black;
}

.output-window {
}

.titlebar {
    width : 100%;
    background-color : $black;
    color : $white;

    * {
        font-family : 'Segoe UI Bold', Tahoma, Geneva, Verdana, sans-serif;
        font-size : 2em;
        font-weight : 900;
        padding : 10px;

        .title {
            font-family : 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif; 
            font-weight : 100;
            font-size : 1em;
        }
    }
}