@import "../../scss/common";

.note {

    border : 2px solid $dark;

    font-family : 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    background-color : $light;
    border-radius : 25px;

    text-align : center;
    
    max-width : 25vw;
    min-width : 25vw;
    overflow : hidden;

    padding : 1em;

    .noteTitle {
        font-size : 2em;
        border-bottom : 1px solid $dark;
    }

    .dateCreated {
        font-size : 1.5em;
    }

    .note-buttons {
        display : flex;

        * {
            display : inline;
            flex : 1;

            &:last-child {
                border-left : 1px solid $dark;
            }
        }
    }
}